<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemed - Kreiraj Pacijenta</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        footer {
            position: fixed; /* Footer je uvijek fiksiran na dnu */
            bottom: 0; /* Postavljen na dno stranice */
            width: 100%; /* Širina footera preko cijele stranice */
            background-color: #f8f9fa; /* Svijetlosiva pozadina */
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
<div class="card p-4" style="width: 400px;">
    <h1 class="text-center mb-4">TELEMED</h1>
    <h4 class="text-center mb-4">Kreiraj Pacijenta</h4>

    <form action="/createPatient" method="post">
        <div class="mb-3">
            <label for="ime" class="form-label">Ime</label>
            <input type="text" class="form-control" id="ime" name="name" required>
        </div>

        <div class="mb-3">
            <label for="prezime" class="form-label">Prezime</label>
            <input type="text" class="form-control" id="prezime" name="surname" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>

        <div class="mb-3">
            <label for="adresa" class="form-label">Adresa</label>
            <input type="text" class="form-control" id="adresa" name="address" required>
        </div>

        <div class="mb-3">
            <label for="telefon" class="form-label">Telefon</label>
            <input type="text" class="form-control" id="telefon" name="phone" required>
        </div>

        <div class="mb-3">
            <label for="lozinka" class="form-label">Lozinka</label>
            <input type="password" class="form-control" id="lozinka" name="password" required>
        </div>

        <div class="mb-3">
            <label for="ponoviLozinku" class="form-label">Ponovi lozinku</label>
            <input type="password" class="form-control" id="ponoviLozinku" name="confirmPassword" required>
        </div>

        <div class="d-flex justify-content-between">
            <a href="/doctorLanding" class="btn btn-outline-dark">Odustani</a>
            <button type="submit" class="btn btn-primary">Spremi</button>
        </div>
    </form>
</div>

    <footer class="bg-dark text-white py-3 mt-4">
        <div class="container text-center">
            <p class="mb-0">&copy; 2025 Telemed. Sva prava pridržana.</p>
        </div>
</footer>
</body>
</html>
