<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemed - Dnevni unos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        footer {
            position: fixed; /* Footer je uvijek fiksiran na dnu */
            bottom: 0; /* Postavljen na dno stranice */
            width: 100%; /* Širina footera preko cijele stranice */
            background-color: #f8f9fa; /* Svijetlosiva pozadina */
            text-align: center;
            padding: 10px 0;
        }
    </style>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">
<div class="card p-4" style="width: 400px;">
    <h1 class="text-center mb-4">TELEMED</h1>
    <h4 class="text-center mb-4">Dnevni unos:</h4>
    <form action="/updatePatientRecord" method="get">
        <input type="hidden" name="id" th:value="${patientRecord.id}">
        <div class="mb-3">
            <label class="form-label">Otkucaji srca</label>
            <input th:value="${patientRecord.heartRate}" type="range" class="form-range" min="50" max="200" step="1" value="80" id="otkucaji"
                   name="heartRate" oninput="document.getElementById('otkucajiValue').textContent = this.value">
            <div class="text-center"><span id="otkucajiValue" th:text="${patientRecord.heartRate}">80</span></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Sistolički Tlak</label>
            <input th:value="${patientRecord.systolic}" type="range" class="form-range" min="70" max="200" step="1" value="80" id="systolic"
                   name="systolic" oninput="document.getElementById('systolicValue').textContent = this.value">
            <div class="text-center"><span id="systolicValue" th:text="${patientRecord.systolic}">80</span></div>
        </div>

        <div class="mb-3">
            <label class="form-label">Diastolički Tlak</label>
            <input th:value="${patientRecord.diastolic}" type="range" class="form-range" min="60" max="180" step="1" value="120" id="diastolic"
                   name="diastolic" oninput="document.getElementById('diastolicValue').textContent = this.value">
            <div class="text-center"><span id="diastolicValue" th:text="${patientRecord.diastolic}">120</span></div>
        </div>

        <div class="mb-3">
            <label for="datum" class="form-label">Datum unosa:</label>
            <input th:value="${patientRecord.date}" type="date" class="form-control" id="datum" name="date">
        </div>

        <div class="mb-3">
            <label for="opis" class="form-label">Kratak Opis</label>
            <textarea th:text="${patientRecord.description}" class="form-control" id="opis" rows="2" name="description" placeholder="Osjećam se..."></textarea>
        </div>
        <div class="d-flex justify-content-between">
            <a href="/patientLanding" class="btn btn-outline-secondary">Odustani</a>
            <button class="btn btn-primary" type="submit">Spremi</button>
        </div>
    </form>
</div>
<footer class="bg-dark text-white py-3 mt-4">
    <div class="container text-center">
        <p class="mb-0">&copy; 2025 Telemed. Sva prava pridržana.</p>
    </div>
</footer>
</body>
</html>