<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello TELEMED!
Dobro došli!
<br>
<tr th:each="patient : ${patientEntries}">
    <td th:text="${patient.date}">17.05.2022</td>
    <td th:text="${patient.description}">Osjećam se normalno</td>
    <td th:int="${patient.heartRate}">72</td>
    <td th:int="${patient.diastolic}">100</td>
    <td th:int="${patient.systolic}">80</td>
    <td>
        <button class="btn btn-outline-secondary btn-sm">Uredi</button>
        <button class="btn btn-outline-danger btn-sm">Obriši</button>
    </td>
</tr>
</body>
</html>